<div class="header">
  <h1>Flight Edit</h1>
</div>

<p>Id: {{ id }}</p>
<p>ShowDetails: {{ showDetails }}</p>

<form *ngIf="editForm && flight" [formGroup]="editForm">
  <div class="form-group">
    <label>Id:</label>
    <input formControlName="id" class="form-control" />
  </div>

  <div class="form-group">
    <label>From:</label>
    <input formControlName="from" class="form-control" />
  </div>

  <div class="form-group">
    <label>To:</label>
    <input formControlName="to" class="form-control" />
  </div>

  <div class="form-group">
    <label>Date:</label>
    <input formControlName="date" class="form-control" />
  </div>

  <div *ngIf="editForm?.hasError('roundTrip')" class="text-danger">Round trips are not allowed!</div>

  <div class="form-group">
    <button (click)="onSave()" class="btn btn-default">Save</button>
  </div>

  <div *ngIf="message">{{ message }}</div>
</form>
