<div class="card" [class.selected]="isSelected">
  <div class="card-header">
    <h2 class="title">{{ item.from | city: 'short' }} - {{ item.to | city: 'short' }}</h2>
  </div>

  <div class="card-body">
    <p>Flight-No.: #{{ item.id }}<span *ngIf="item.delayed"> (delayed)</span></p>
    <p [class.delayed]="item.delayed">Date: {{ item.date | date: 'MM.dd.YYYY HH:mm' }}</p>

    <p>
      <button *ngIf="!isSelected" class="btn btn-default" (click)="select()">Add</button>
      <button *ngIf="isSelected" class="btn btn-default" (click)="deselect()">Rem.</button>

      <a class="btn btn-default" style="margin-left: 10px" (click)="edit.emit()">Edit</a>

      <ng-content></ng-content>
    </p>
  </div>
</div>

<!--{{ blink() }}-->
